<%- include('partials/header') -%>
  <div class="feedInput">
    <form class="searchForm" action="/post/search" method="get">
      <input class="search__input" name="search" type="text">
      <button class="searchButton" type="submit">Search</button>
      <!-- <form action="/post/search" method="get"> -->
      <button class="clearSearchButton" type="submit"> Clear Search</button>
      <!-- </form> -->
    </form>
  </div>
  <div class="feedContainer">




   
      <ul class="">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="card3">
          </p> <%= posts.userName %></h4>
            <h4>Title: <%= posts[i].title %>
            </h4>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid cardImage" src="<%= posts[i].image%>">
            </a>
            <% if (posts.audio) { %>
              <audio class="audioPlayer" controls id="player2" preload="none" controls style="max-width: 100%">
                <source src="<%= posts.audio %>" type="audio/mp3">
              </audio>
              <% } %>
                <form class="feedFormMargin" action="/addToTeam?_method=PUT" method="POST">
                  <input name="memberId" value="<%= posts[i].user %>" type="hidden">
                  <button onclick="" class="addToTeamButton" type="submit" id="">Add To Team</button>
                </form>

          </li>
          <% } %>
      </ul>
  </div>
  </div>
  <%- include('partials/footer') -%>